<!-- filepath: c:\Users\aali\Documents\Data\Training\SPR\SPR\templates\website\edit_scenario.html -->
{% extends 'website/base.html' %}

{% block title %}Edit Scenario{% endblock %}

{% block content %}
{% include 'website/form_section.html' %}
<hr>
{% include 'website/forecast_data_section.html' %}
<hr>
{% include 'website/master_data_epicor_section.html' %}
<hr>
{% include 'website/other_master_data_section.html' %}
<hr>
{% include 'website/pour_plan_master_data_section.html' %}
<hr>
{% include 'website/capacity_plan_master_data_section.html' %}
{% include 'website/modals_section.html' %}
{% endblock %}