<h3>Other Master Data</h3>
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Has Data</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Master Data Freight</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Inco Terms</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Lead Times</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Plants</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Capacity</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Plan</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <!-- Repeat similar rows for other master data items -->
        <tr>
            <td>Master Data Product Transfer</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Bill of Material</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Schedule</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Comment</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <tr>
            <td>Master Data Schedule</td>
            <td>
                <input type="checkbox" readonly>
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">
                    <img src="/static/icons/update.png" alt="Update">
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <img src="/static/icons/delete.png" alt="Delete">
                </button>
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"
                    data-bs-target="#uploadModalOtherMasterData">
                    <img src="/static/icons/upload.png" alt="Upload">
                </button>
                <button type="button" class="btn btn-info btn-sm">
                    <img src="/static/icons/copy.png" alt="Copy">
                </button>
            </td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>