{% extends 'website/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Forecast Analysis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <!-- Version Information -->
    <div class="container mt-3">
        <div class="alert alert-info" role="alert">
            <strong>Version:</strong> {{ version }}
        </div>
    </div>

    <div class="container mt-5">
        <h2>Forecast Analysis</h2>
        <ul class="nav nav-tabs" id="forecastTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="product-group-tab" data-toggle="tab" href="#product-group" role="tab"
                    aria-controls="product-group" aria-selected="true">By Product Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="parent-product-group-tab" data-toggle="tab" href="#parent-product-group"
                    role="tab" aria-controls="parent-product-group" aria-selected="false">By Parent Product Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="region-tab" data-toggle="tab" href="#region" role="tab" aria-controls="region"
                    aria-selected="false">By Region</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="customer-tab" data-toggle="tab" href="#customer" role="tab"
                    aria-controls="customer" aria-selected="false">By Customer</a>
            </li>
        </ul>
        <div class="tab-content" id="forecastTabsContent">
            <div class="tab-pane fade show active" id="product-group" role="tabpanel"
                aria-labelledby="product-group-tab">
                <!-- Content for By Product Group -->
                <canvas id="productGroupChart" width="400" height="200"></canvas>
            </div>
            <div class="tab-pane fade" id="parent-product-group" role="tabpanel"
                aria-labelledby="parent-product-group-tab">
                <canvas id="ParentGroupChart" width="400" height="200"></canvas>
                {% include 'website/forecast_by_parent_product_group_chart.html' %}
            </div>
            <div class="tab-pane fade" id="region" role="tabpanel" aria-labelledby="region-tab">
                <!-- Content for By Region -->
                {% include 'website/forecast_by_region_chart.html' %}
            </div>
            <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">
                <!-- Content for By Customer -->
                <canvas id="customerChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <script id="chartDataParentProductGroup" type="application/json">
        {{ chart_data_parent_product_group|safe }}
    </script>
    <script id="chartDataRegion" type="application/json">
        {{ chart_data_forecast_region|safe }}
    </script>
    <script src="{% static 'js/review_scenario_charts.js' %}"></script>
    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}

</html>